body {
    background-color: #585a64;
}

.btn {
    font-size: 18px;
    width: auto;
}

.card {
    width: 400px;
    background-color: #fff6f6;
}

.custom-checkbox{
    color: white;
}

.nav-item .nav-link[disabled]:hover {

}
