body {
    background-color: #ffffff;
}

.btn {
    font-size: 18px;
    width: auto;
}

.card {
  width: 400px;
  background-color: #585a64;
}

.card-header{
    color: #ffffff;
}

.custom-checkbox{
    color: white;
}

.nav-item .nav-link[disabled]:hover {
    
}
